/* @group Gallery */

.landscape {
  display: inline-block;
  position: relative;
  text-align: center;
  line-height: 0;
  margin-left: 20px;
}
#galleryDetails .landscape {
border: none;
}
#hover {
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  opacity: 0;
  height: 100%;
  left: 0px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 100%;
}
#hover:hover { opacity: 0.95; }
#hover.ilustracion {background-color: #f1793d;}
#hover.web {background-color: #95c444;}
#hover.impresos {background-color: #28bfe5;}

.info {
  position: absolute;
  color: #ffffff;
  top: 40%;
  width: 100%;
}
.ilustracion .info hr {
  border:dotted #f1793d;
  border-width:1px 0 0 0;
}
.web .info hr {
  border:dotted #95c444;
  border-width:1px 0 0 0;
}
.impresos .info hr {
  border:dotted #28bfe5;
  border-width:1px 0 0 0;
}
.info hr {
  height:0;
  line-height:0px;
  font-size:0;
  margin:0 auto;
  padding:0;
  width: 78px;
}
p.proyecto {
  font-size: 18px;
  font-weight: 100;
  height: 18px;
  margin-bottom: 6px;
}
p.cliente {
  font-size: 14px;
  font-style: italic;
  font-weight: 100;
  height: 14px;
  margin-bottom: 6px;
}
p.datos {
  font-size: 11px;
  font-weight: 100;
  height: 11px;
  margin-top: 21px;
  text-transform: uppercase;
}

/* @end */